body {
    font-family: 'Source Sans Pro', sans-serif;
    /*text-align: center;*/
    margin: 0 auto;
    background-color: #EDEDED;
}

body,
section,
.post-image {
    width: 375px;

}

header,
section {
    background-color: #ffff;
}

header {
    display: flex;
    padding: 2px 5px;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
}

.lawrie{
    margin: auto 4px auto auto;
    width: 34px;
    height: 34px;
}

header img{
    height: 60px;
    border-radius: 50px;
}

.avatar {
    height: 34px;
    border-radius: 50px;
    padding: 5px;
}

.user-info {
    display: flex;
    background-color: #ffff;
}

p {
    font-size: 10px;
    margin: auto 0;
}

.username {
    padding: 8px 0 0 0;
    font-size: 12px;
}

.location {
    padding-top: 0;
}

.icons {
    margin: 4px;
}

.likes,
.comments {
    padding: 0px 0 12px 8px;
}

.icon {
    height: 20px;
    padding: 2.5px;
}

.bold-text {
    font-weight: 700;
}

.features p {
    font-size: 12px;
}

.features {
    margin-bottom: 30px;
}